{% extends 'base.html' %}
{% load l10n %}
{% block content %}

  <div class="my-2">
    <div class="w-100 d-flex justify-content-start">
      <h1 class="mb-4">Carteira de monitoramento</h1>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Logo</th>
          <th>Nome</th>
          <th>Preço atual</th>
          <th>Preço de venda</th>
          <th>Preço de compra</th>
          <th>Notificando por email</th>
          <th>Intervalo de atualização</th>
          <th>Última atualização</th>
        </tr>
      </thead>
      <tbody>
        {% for stock in stocks %}
          <tr>
            <td><img src="{{stock.stock.logo}}"/></td>
            <td>{{ stock.stock.stock }}</td>
            <td>R$ {{ stock.close|default:0|floatformat:2 }}</td>
            <td>R$ {{ stock.selling_price|floatformat:"2" }}</td>
            <td>R$ {{ stock.buying_price|floatformat:"2" }}</td>
            <td>{% if stock.is_notifying == 0 %}Não{% else %}Sim{% endif %}</td>
            <td>{{ stock.update_period }} minuto(s)</td>
            <td>{{ stock.updated_at }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="9">Sem informações disponíveis.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
